
body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

canvas{
    background-color: black;
}